body {
	margin-top: 111px;
}

.bar-sony {
	height: 35px;
}

.dropdown {
	position: static;
}

.dropdown-menu[data-bs-popper] {
	width: 100%;
	margin-top: 0;
}

.dropdown-menu {
	border: none;
	border-radius: 0;
}

.dropdown-menu.show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dropdown-item {
	text-align: center;
}

.dropdown-item img {
	display: block;
	width: 100%;
}

.bg-jumbo {
	padding: 350px 0 50px;
	background-image: url('../img/jumbo-bg.png');
	background-size: cover;
	background-position: center;
}

.card-game {
	padding: 3px;
	border: 3px solid transparent;
	border-radius: 1rem;
	overflow: hidden;
	transition: transform .6s;
}

.card-game.active {
	border: 3px solid blue;
}

.card-game:hover {
	border: 3px solid blue;
	transform: translateY(-20px);
	cursor: pointer;
}

.card-game img {
	border-radius: calc(1rem - 6px);
}

.accedi{
    margin-right: 1rem;
    border-radius: 3rem;
}

.acquista{
    background-color: #CD3D0F;
}

.slogan{
    color: #0070D1;
}

.btn_blu{
    border-radius: 3rem
}

.periferiche{
    padding-left: 50px;
}

.bg-it-take-two {
	margin-top: 50px;
	padding: 200px 0 50px;
	background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
	background-size: cover;
	background-position: center;
}

.uscite{
    background-color: #1F1F1F;
}

.gioco{
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 3rem;
    overflow: hidden;
}

.container_esplora{
    margin-top: 50px;
}

.container_plus_giochi{
	margin-top: 50px;
	background-color: #BEBCBB;
}

.container_plus{
	padding: 30px 30px;
}

.container_sconti{
	margin-top: 30px;
}

.container_playstation_now{
	margin-top: 50px;
	background-color: #161C3B;
}

.container_now{
	padding: 30px 30px;
}

.social{
	margin-top: 50px;
}

.img_social{
	padding: 10px;
	width: 150px;
}